html,
body {
    height: 100%;
    width: 100%;
    font-size: 14px;
}
h4{font-size: 14px;font-weight: bold;border-bottom: 1px solid #ccc; padding: 10px;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.pl10{padding-left: 10px;}
.pb3{padding-bottom: 3px;}
.pt3{padding-top: 3px;}
.pb5{padding-bottom: 5px;}
.m10{margin: 10px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 20px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.mr10{margin-right: 10px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb50{margin-bottom: 50px;}
.w20{width: 20px;}
.w30{width: 30px;}
.w40{width: 40px;}
.w50{width: 50px;}
.w60{width: 60px;}
.w70{width: 70px;}
.w80{width: 80px;}
.w90{width: 90px;}
.w110{width: 110px;}
.w230{width: 230px;}
.h20{height: 20px;}
.h400{height: 400px;}
.lh20{line-height: 20px;}

.font12Red{font-size:12px;color:#ff0000;}
.font12Info{font-size:12px;color:#aaa;}
.font16{font-size:16px;}
.font20{font-size:20px;}
.font40{font-size: 40px;}
.font30{font-size: 30px;}
.fontB{font-weight: bold;}

a{text-decoration: none; color: #21b387;}

ul li{list-style: none;padding: 10px;}
li.active{color: #fff; background-color: #21b387;}
.ul-bottom-line li {
    position: relative;
    border-bottom: solid 1px #CCC;
    padding: 3px 0px;
}
input.text{border: 1px solid #ddd; height: 30px; width:80%; padding-left: 5px;}

.iconAdd{
    display:inline-block;
    border-radius:14px;
    background-color:#ccc;
    font-size:14px;
    color:#000;
    text-align:center;
    width:14px;
    height: 14px;
    line-height: 14px;
}
div.leftSider{background-color: #eee; }

.hide{display: none;}
.fl{float: left;}
.fr{float: right;}
.tl{text-align: left;}
.tc{text-align: center;}
.scroll-y{overflow-y: scroll;-webkit-overflow-scrolling: touch;-webkit-text-size-adjust:none;}
.clear{clear: both;}
.dib{display: inline-block;}
.menu{clear:both;width: 100%; margin-bottom: 3px; padding-top:13px; height:37px;
   /*box-shadow: 0 2px 3px rgba(0,0,0,0.15),inset 0 -1px 0 0 #fcfcfc;
   -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15),inset 0 -1px 0 0 #fcfcfc;
   -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15),inset 0 -1px 0 0 #fcfcfc;*/
   white-space: nowrap;
}
.menu-mask{
  height:37px; background-color:rgba(0,0,0,0.6); text-align:center; line-height:37px; color:#fff; font-size:14px; font-weight:bold; position:absolute; top:0; left:0; width:100%;
  height: 37px; text-align: center; line-height: 37px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; position: absolute; top: 0px; left: 0px; width: 100%; display: none; background-color: rgba(0, 0, 0, 0.6);
}
.menu li{display:inline; padding:10px 10px 4px;text-align: center; cursor: pointer;}
.menu li.active{/*border-bottom: 3px solid #21b387;*/color: #21b387; background-color: #fff;font-weight: bold;}
/*.menu > li:first-child{  color:#E89D23;  font-weight: bold;}*/

.menu td{padding:10px 20px;text-align: center; cursor: pointer; white-space: nowrap;}
.menu td.active{border-bottom: 3px solid #21b387;color: #21b387; background-color: #fff }

.cp{cursor: pointer;}

table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-bottom: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table td.v-m{vertical-align: middle;}
.price{color: rgb(212, 0, 0);
  font-weight: bold;
  font-family: arial;}
.favorite{color:#f0ad4e;}
.unfavorite{color: #888;}
.ok{color: #21b387;}
.trunking{color: #54b135;}
.packaging{color: #ffcc3f;}
.btn {
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
}
.btn-yucai{
  color: #fff;
  background-color: #21b387;
}
.btn-white{
  color: #000;
  background-color: #fff;
}
.btn-sure{
  display:inline-block;background: #21b387;color: #fff;padding: 2px 6px;border-radius: 5px;
}
.btn-sured{
  display: inline-block;background: #ded;color: #21b387;padding: 2px 6px;border-radius: 5px;
}
.btn-refuse{
  display:inline-block;background: #BBC0C5; color: #fff; padding: 2px 6px; border-radius: 5px;
}
.btn-refused{
  display:inline-block;background: #ddd; color: #f86060; padding: 2px 6px; border-radius: 5px;
}

.nav{
  background-color:#21b387;padding:1em 0;position: fixed;width: 100%;top: 0;
}
.nav a{color: #fff}
.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.td-mid-white{color:#fff;vertical-align: middle;}
input, select, option {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

div.mask {
  position:         absolute;
  left:             0px;
  top:              0px;
  z-index:          100;
  background-color: #444;
  opacity:          0.5;                 /* Standard */
  filter:           alpha(opacity = 50); /* For IE */
}
div.dialog {
  z-index:          101;
  background-color: #f5f5f5;
  border-radius: 5px;
  position:         fixed;
  top: 100px;
}
.btn-dialog-left{
  border-radius: 5px;padding: 0;font-size: 16px;width: 100%;display: table-cell;float: none;text-align: center;height: 44px;line-height: 44px;color: #0079FF;border: 1px solid #B1B1B1;background-color: #f7f7f7;border-bottom: 0 none;cursor: pointer;-webkit-border-bottom-left-radius: 1px;border-left: 0 none;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input[type="text"] { -webkit-appearance:none;  /* Remove default shadow */}
input.search{border: 1px solid #ccc;height: 30px;line-height: 18px;border-radius: 5px;width: 100%;padding: 3px 10px;}
.product-img-wrapper{position:relative;width:90px; height:90px; /*background: url('../../image/common/product_img_default.png') no-repeat;*/ background-size:100% 100%; margin:0; padding-bottom:4px;}
.product-img-wrapper img{width:100%;height:100%;}

.js-search-bar{ padding: 5px 10px;background-color: #21b387;}
.en-markup-crop-options {top: 18px !important;left: 50% !important;margin-left: -100px !important;width: 200px !important;border: 2px rgba(255,255,255,.38) solid !important;border-radius: 4px !important;}
.en-markup-crop-options div div:first-of-type {margin-left: 0px !important;}
.js-search-back-block {display:none;width:20%;}
.js-search-back-block a{color:#fff;}
.js-search-input-block {display:inline-block;width:100%;}
.js-search-content {height: 577px;}
.js-search-table {margin-bottom:80px;}

.js-menu-bar {height:46px; width:100%; overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling: touch; position:relative;}
.js-content {border-top: 2px solid #21b387;}
.js-slider {height:100%;width:25%; position:relative;}
.js-category {margin-bottom:80px;}
.js-search-wrapper {position:relative;height:100%;width:75%;-webkit-overflow-scrolling: touch;}
.js-category-detail {}
.js-category-detail td {padding-left:15px;position:relative;}
.js-category-detail td .js-price-ref {position: absolute;bottom: 2px;}


.js-footer {position:fixed;bottom:0;background-color:#fff;height: 50px;line-height: 50px;width: 100%;border-top: 1px solid #eee;}
.js-subject {color:#666;}
.js-pic-wrapper {width:46%;text-align:center;}
.js-ctl-warp {height:30px;line-height:30px;font-size:16px;}
/*.js-minus {color:#86a744;font-weight:bold;border: 1px solid;}*/
.js-count {width:37px;line-height:18px;float: left;margin-top: 6px; font-weight: bold; color: #6b6b6b;font-size:12px;margin-right: 2px;}
/*.js-minus{display: block;background-image: url(../img/minus.png);background-size: 100%; width: 24px;height: 24px;float: left;color: transparent;margin-top: 5px;}*/
.js-minus {background-color: rgb(230,230,230);font-size: 26px;color: rgb(119, 119, 119);width: 30px;
  font-weight: 400;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/*.js-plus {color:#21b387;font-weight:bold;border: 1px solid;}*/
/*.js-plus {display: block;background-image: url(../img/plus.png);background-size: 100%;width: 24px;height: 24px;float: left;color: transparent;margin-top: 5px;}*/
.js-plus {
    font-size: 26px;
    font-weight: 400;
    width: 30px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    background-color: rgb(232,108,118);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.js-ctl-price{height:12px;line-height:12px;font-size:12px;}

.js-c-name{float: left;}
.js-favorite {float: left;background-image: url(../img/star-black.png);color: transparent;  background-repeat: no-repeat;width: 14px;height: 15px;background-size: 100%;display: block;margin: 2px 0 0 3px;}
.js-favorite.clicked {background-image: url(../img/star-green.png);}
.sold-out{
    position:absolute;
    top:0px;
    width:90px;
    height:90px;
    line-height:90px;
    background-color:rgba(141,141,141,.7);
    color:#fff;
    font-size:22px;
    text-align:center;
}
.order-form-menu-img .sold-out{
    width:74px;
    height:74px;
    line-height:74px;
    font-size:18px;
}
/*Tips*/
.act-tips {
    display: none;
    width: 100%;
}
.act-tips-items {
    background-color: #fdedba;
    display: -webkit-box;
    line-height: 40px;
    height: 40px;
    color: #777;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.act-tips-items .icon-tips {
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
    background:url(../img/icontips.png) no-repeat;
    background-size:20px 20px;
}
